.cadastrar-funcionario {
    max-width: 400px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

button {
    margin-top: 20px;
}

.mat-form-field-label {
    margin-bottom: 4px;
}

.mat-select-panel {
    border: none;
}

button {
    border: 1px solid #007bff;
}

button {
    color: #fff;
}

button {
    background-color: #007bff;
}

button {
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}