<div class="cadastrar-funcionario">
    <h2>Cadastrar Funcionário</h2>
    <form (submit)="cadastrar()">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Nome:</mat-label>
                <input matInput type="text" id="nome" [(ngModel)]="nome" name="nome" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <mat-label>CPF:</mat-label>
                <input matInput type="text" id="cpf" [(ngModel)]="cpf" name="cpf" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <mat-label>Salário:</mat-label>
                <input matInput type="number" id="salario" [(ngModel)]="salario" name="salario" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <mat-label>Departamento:</mat-label>
                <mat-select id="departmentId" [(ngModel)]="departmentId" name="departmentId" required>
                    <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">
                        {{ departamento.departamentName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Cadastrar</button>
    </form>
</div>
