<div class="editar-funcionario">
    <h2>Editar Funcionário</h2>
    <form (submit)="editar()">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Nome:</mat-label>
                <input matInput type="text" id="nome" [(ngModel)]="funcionario.nome" name="nome" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <mat-label>CPF:</mat-label>
                <input matInput type="text" id="cpf" [(ngModel)]="funcionario.cpf" name="cpf" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <mat-label>Salário:</mat-label>
                <input matInput type="number" id="salario" [(ngModel)]="funcionario.salario" name="salario" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <mat-label>Salário Anual:</mat-label>
                <input matInput type="number" id="salarioAnual" [(ngModel)]="funcionario.salarioAnual" name="salarioAnual" required disabled>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit">Editar</button>
    </form>
</div>
