<div class="editar-departament">
    <h2>Editar Departamento</h2>
    <form (submit)="editar()">

        <div class="form-group">
            <label for="id">Id:</label>
            <input type="text" id="id" [(ngModel)]="departamento.id" name="id" required>
        </div>

        <div class="form-group">
            <label for="departamentName">Nome Departamento:</label>
            <input type="text" id="departamentName" [(ngModel)]="departamento.departamentName" name="departamentName" required>
        </div>


        <div class="form-group">
            <label for="employeeLimit">Limite de Funcionários:</label>
            <input type="number" id="employeeLimit" [(ngModel)]="departamento.employeeLimit" name="employeeLimit" required>
        </div>

        <button type="submit">Editar</button>
    </form>
</div>