
.mat-header-cell {
  font-weight: bold;
  background-color: #007bff; 
  color: #fff;
  font-size: 16px;
}

.mat-cell {
  border-bottom: 1px solid #e0e0e0; 
}

.mat-row:hover {
  background-color: #f5f5f5; 
}

.edit {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px; 
}


.delete {
  color: #dc3545;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
}

.delete:hover {
  text-decoration: underline;
}
